<div class="leaderboard-name"> 
  <!-- <a href="/playground/index" class="return-to-game">RETURN TO ROOM</a> -->
  <%= image_tag "leaderboard-header.png", class: 'lb-head' %>
</div>
<!-- <div class="leaderboard-number" style="display: none"><%= params["id"] %></div>  -->

  <h3 style="text-align:center;">
    <a href="/leaderboards/">Return to Leaderboard</a> 
  </h3>
  <table class="lb-table table table-bordered district">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Username</th>
    <th>Total Score</th>
  </thead>
  <tbody class="header-table">
    <% @users.each_with_index do |user, i| %>
      <tr class="tr-background">
        <td><div class='ranking'><%= i+1 %>.</div></td>
        <td>
          <div class="username">
            <%= "#{user[:first_name]} #{user[:last_name]}".downcase %>
          </div>
        </td>
        <td>
          <div class="name">
            <a href="/leaderboards/users/<%= user[:id]%>">
              <%= user[:username] %>
            </a>
          </div>
        </td>
        <td>
          <div class="score">
            <%= user.total_score %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_include_tag "district.js" %>

