<div class="leaderboard-name"> 
  <!-- <a href="/playground/index" class="return-to-game">RETURN TO ROOM</a> -->
  <%= image_tag "leaderboard-header.png", class: 'lb-head' %>
</div>
<div class="leaderboard-number" style="display: none"><%= params["id"] %></div> 



 <table class="lb-table table table-bordered">
  <thead>
    <th>Ranking</th>
    <th>District</th>
    <th>Score</th>
  </thead>
  <tbody class="header-table">
    <% counter = 1 %> 
    <% @ranking_list.map do |ranking_obj| %>
      <tr class="tr-background">
        <td><div class='delete-ranking<%= counter %>' ><%= ranking_obj[:ranking] %>.</div></td>
        <td><div class="delete-name<%= counter %>"><%= ranking_obj[:object][:username] %></div></td>
        <td><div class="delete-score<%= counter %>"><%= ranking_obj[:object][:points] %></div></td>
      </tr>
      <% counter += 1 %> 
    <% end %>
  </tbody>
</table>


