<div class="leaderboard-name"> 
  <!-- <a href="/playground/index" class="return-to-game">RETURN TO ROOM</a> -->
  <%= image_tag "leaderboard-header.png", class: 'lb-head' %>
</div>
<!-- <div class="leaderboard-number" style="display: none"><%= params["id"] %></div>  -->

  <h3 style="text-align:center;">
    Scores for <%= "#{@user[:first_name].capitalize} #{@user[:last_name].capitalize}" %> - 
    <a href="/leaderboards/districts/<%= @user[:district_name] %>">Return to District</a> 
  </h3>
  <table class="lb-table table table-bordered district">
  <thead>
    <th>#</th>
    <th>Game</th>
    <th>Score</th>
  </thead>
  <tbody class="header-table">
    <% @scores.each_with_index do |score, i| %>
      <tr class="tr-background">
        <td><div class='ranking'><%= i+1 %>.</div></td>
        <td>
          <div class="name">
            <%= score.game_name %>
          </div>
        </td>
        <td>
          <div class="score">
            <%= score.points %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_include_tag "user.js" %>

