

<%= form_for @user, :url => url_for(:controller => 'admin', :action => 'admin_create') do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <br>
  <div class="field">
    <%= f.label :district_name %><br>
    <%= f.select :district_name, @all_districts %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Create User" %>
  </div>
<% end %>