<h1>New Score</h1>

<%= form_for @score, :url => url_for(:controller => 'scores', :action => 'admin_create') do |f| %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>

  <div class="field">
    <%= f.label :points %><br>
    <%= f.text_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>