<h1>Edit Score</h1>

Game: <%= Game.find(@score.game_id).name %> / Points: <%= @score.points %>

<%= form_for(@score) do |f| %>

  <%= f.label :points %>
  <%= f.text_field :points %>

  <%= f.submit "Save changes" %>
<% end %>