<h1>New Score for user <%= @username %></h1>


<%= form_for(@score) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.select :game_id, options_for_select(@games.map {|h| h.name}) %>
  </div>

  <div class="field">
    <%= f.label :points %><br>
    <%= f.text_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>