<div class="loader">
	    <div id="floatingBarsG">
	        <div class="blockG" id="rotateG_01"></div>
	        <div class="blockG" id="rotateG_02"></div>
	        <div class="blockG" id="rotateG_03"></div>
	        <div class="blockG" id="rotateG_04"></div>
	        <div class="blockG" id="rotateG_05"></div>
	        <div class="blockG" id="rotateG_06"></div>
	        <div class="blockG" id="rotateG_07"></div>
	        <div class="blockG" id="rotateG_08"></div>
	    </div>
</div>
<audio id="main_audio" type="audio/mpeg">
    <source type="audio/mpeg">
</audio>
<div class="lightbox">
    <div class="overlay"></div>
    <div class="lightbox-content"></div>
</div>
<div class="nav nav2">
    <div class="btn refresh"></div>
</div>
<div class="nav">
    <div class="btn left"></div>
    <div class="btn right"></div>
</div>
<div class="loaded_content"></div>