

<%= form_for @user, :url => url_for(:controller => 'users', :action => 'admin_create') do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="actions">
    <%= f.submit "Create User" %>
  </div>
<% end %>