<h1>Users</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "flash" %>
<% end -%>

<div class="all-users">

<% @users.each do |user| %>
  <div class="user-info">

    <div class="admin-label">
    Username:
    </div>

    <div class="admin-details">
    <span class="username">
      <%= link_to(user.username, user_path(user)) %> 
    </span>
    <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "little-link" %>
    </div><br/>

    <% if user.scores.length > 0 %>
      <div class="admin-label">
      Scores:
      </div>

      <div class="admin-details">
        <% user.scores.each do |score| %>
          Game: <%= score.get_game_name %> / Score: <%= score.points %>
          <%= link_to("Edit", edit_score_path(score), :class => "little-link") %>
          <%= link_to 'Delete', score, method: :delete, data: { confirm: 'Are you sure?' }, class: "little-link" %><br/>
        <% end %>
      </div>
    <% end %>

    <div class="add-score">
      <%= link_to "Add a new score", {:controller => "scores", :action => "new", :user_id => user.id }%>
    </div>

  </div>

<% end %>

</div>

<div class="add-user">
  <%= link_to "Add a new user", admin_new_path %>
</div>