
<div class="container">
  <div class="close"></div>
  <div class="container-table">
    <div class="container-cell">
      <div class="page-heading">
        <%= image_tag('sb.png') %>
      </div>
      <div class="signin">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="field">
            <%= f.label :username, "Welcome to the Strong Breakthrough Competition. Enter you Janssen email address below to access the room." %><br>
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: "flash" %>
            <% end -%>
            <%= f.text_field :username, placeholder: "Email Address" %>
          </div>

          <div class="actions">
            <%= f.submit "BEGIN", class: "s-btn" %>
          </div>
        <% end %>  

      </div>  
    </div>
  </div>
</div>
