<h1><%= @user.username %>'s Profile</h1>

<div class="scores">
Scores:<br/>
<% @user.scores.each do |score| %>
  Game: <%= score.get_game_name %> / Score: <%= score.points %><br/>
<% end %>
</div>

<div class="start-over">
Not <%= @user.username %>? 
<%= link_to("Start Over", log_out_path) %>
</div>