#spinBtn{
	position:absolute;
	top:575px;
	width:150px;
	height:74px;
	left:482px;
	cursor:pointer;
}
#respinBtn{
	position:absolute;
	top:432px;
	width:130px;
	height:25px;
	opacity:0;
	cursor:pointer;
}
.roulette_container{
	position:absolute;
	top:179px;
	width:130px;
	height:252px;
	overflow:hidden;
}

#spinBar{
	position:absolute;
	top:307px;
	width:462px;
	height:1px;
	background:#CCCCCC;
	left:86px;
	overflow:hidden;
}
#start_button {
    position:absolute; 
    opacity:0; 
    cursor:pointer; 
    top:567px; 
    left:266px; 
	/*background-color:yellow;
    opacity: 1;*/
    width:100px; 
    height:43px;
}