<div class="slides-wrap">
    <div class="slides_1 slides">
        <div class="next"></div>
        <div class="prev"></div>
        <div class="slide_1 slide s11f" id="slide_1" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #1</div>
                            CD-1 and CD-2, clinical response of the primary endpoint was defined as a reduction from baseline in CDAI of ___________.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="40-point"></div>
                                40-points
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="≥50-points"></div>
                                ≥50-points
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="≥100-points"></div>
                                ≥100-points
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="150-point"></div>
                                150-points
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_2 slide s6b display-table" id="slide_2" data-score="30">
            <div class="close dark"></div>
            <div class="display-cell">
                <div class="slide-content-wrap show">
                    <div class="head">
                        Question #2
                        <div class="sub">Drag and drop the patient population to the appropriate study: CD-1 or CD-2</div>
                    </div>
                    <div class="display-table d-table">
                        <div class="display-cell">
                            <div class="study-name">UNITI-1 (CD-1)</div>
                            <div class="s6b-d s6b-d-3 study-1" data-unit="2"></div>
                        </div>
                        <div class="display-cell">
                            <div class="study-name">UNITI-2 (CD-2)</div>
                            <div class="s6b-d s6b-d-4 study-2" data-unit="1"></div>
                        </div>
                    </div>
                    <div class="a-bank">Answer Bank</div>
                    <div class="display-table a-table">
                        <div class="display-cell s6b-d">
                            <div class="s6b-a" data-unit="1">
                                Patients who failed conventional therapy, and previously received but not failed a TNF blocker or were never treated with a TNF blocker
                            </div>
                        </div>
                        <div class="display-cell s6b-d">
                            <div class="s6b-a" data-unit="2">
                                Patients who failed or were intolerant to TNF blocker therapy
                            </div>
                        </div>
                    </div>
                    <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                </div>
                <div class="feedback"></div>
            </div>
        </div>
        <div class="slide_3 slide s11f" id="slide_3" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #3</div>
                            In the CD-3 study, how was clinical remission defined?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="40-point"></div>
                                40-point CDAI
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="70-point"></div>
                                70-point CDAI
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="80-point"></div>
                                80-point CDAI
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="CDAI score < 150"></div>
                                CDAI score < 150
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_4 slide s11f" id="slide_4" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #4</div>
                            In which induction study did more than 50% of patients achieve clinical response at week 6?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="CD-1"></div>
                                CD-1
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="CD-2"></div>
                                CD-2
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_5 slide s11f" id="slide_5" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #5</div>
                            In the CD-2 study, what percentage of patients achieved clinical remission at Week 8?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="21%"></div>
                                21%
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="34%"></div>
                                34%
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="40%"></div>
                                40%
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_6 slide s11f" id="slide_6" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #6</div>
                            3. In this CD-3  study, what was the rate of clinical remission in patients taking 90 mg of STELARA every 8 weeks?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="47%"></div>
                                47%
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="53%"></div>
                                53%
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="62%"></div>
                                62%
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slides_2 slides">
        <div class="next"></div>
        <div class="prev"></div>
        <div class="slide_7 slide s11f" id="slide_7" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #1</div>
                            Together, the induction studies and maintenance study spanned ____ weeks of treatment.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="8"></div>
                                8
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="28"></div>
                                28
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="44"></div>
                                44
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="52"></div>
                                52
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_8 slide s11f" id="slide_8" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #2</div>
                            Response was seen as early as ___ weeks
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="2"></div>
                                2
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="3"></div>
                                3
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="6"></div>
                                6
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="8"></div>
                                8
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_19 slide s11f" id="slide_19" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #X</div>
                            Which Rx for STELARA is written correctly?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer"></div>
                                <img src="/assets/answer_a.png" />
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a"></div>
                                <img src="/assets/answer_b.png" />
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <!-- <div class="slide_9 slide s11f" id="slide_9" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #3</div>
                            What was the most commonly-reported adverse reaction in the IM-UNITI maintenance study?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Headache"></div>
                                Headache
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Nasopharyngitis"></div>
                                Nasopharyngitis
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Abdominal pain"></div>
                                Abdominal pain
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="Arthralgia"></div>
                                Arthralgia
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_10 slide s11f" id="slide_10" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #4</div>
                            STELARA is available as first-line biologic therapy for more than _____ patients through several national plans and PBMs.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="72 million"></div>
                                72 million
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="99 million"></div>
                                99 million
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="118 million"></div>
                                118 million
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="132 million"></div>
                                132 million
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>   -->     
    </div>    
    <div class="slides_3 slides">
        <div class="next"></div>
        <div class="prev"></div>
        <div class="slide_11 slide s11f" id="slide_11" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #1</div>
                            When should shipping information (Section 11) for Maintenance Therapy be Completed?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="Always – this is a required field"></div>
                                Always – this is a required field
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Only if the Provider is prescribing a maintenance dose"></div>
                                Only if the Provider is prescribing a maintenance dose
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Only if the induction dose is being infused in the Prescriber's office"></div>
                                Only if the induction dose is being infused in the Prescriber's office
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="At the Provider's discretion – this is an optional field"></div>
                                At the Provider's discretion – this is an optional field
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_12 slide s11f" id="slide_12" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #2</div>
                            Page 1 of the new Verification of Benefits (VOB) Form includes which of the following?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="A. Only patient information. Information about patient coverage and affordability can be found on Pages 2 &amp; 3"></div>
                                A. Only patient information. Information about patient coverage and affordability can be found on Pages 2 &amp; 3
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="B. Patient Information"></div>
                                B. Patient Information
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="C. Affordability Support Information"></div>
                                C. Affordability Support Information
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="D. A Summary of Coverage"></div>
                                D. A Summary of Coverage
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="E. B,C and D"></div>
                                E. B,C and D
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_13 slide s11f" id="slide_13" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #3</div>
                            The Affordability Support section include all the affordability options available for STELARA, regardless of patient coverage status.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="True, providers can review these option and decide which are appropriate for their patients, based on coverage and eligibility"></div>
                                True
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="False"></div>
                                False
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_14 slide s11f" id="slide_14" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #4</div>
                            Pages 2 &amp; 3 of the Verification of Benefits Form provides which of the following?
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Detailed information about coverage for IV induction"></div>
                                Detailed information about coverage for IV induction
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Detailed information about coverage for Sub-Q Maintenance Dosing"></div>
                                Detailed information about coverage for Sub-Q Maintenance Dosing
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="Information about Medical Assignment of Benefits"></div>
                                Information about Medical Assignment of Benefits
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="All of the above"></div>
                                All of the above
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
    </div> 
    <div class="slides_4 slides">
        <div class="next"></div>
        <div class="prev"></div>
        <div class="slide_15 slide s11f" id="slide_15" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #1</div>
                            If a commercially insured patient uses their pharmacy/prescription insurance to pay for their medication, the specialty pharmacy will call to collect their co-pay and the patient will receive instant savings off the cost of the medication.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="True"></div>
                                True
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="False"></div>
                                False
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_16 slide s11f" id="slide_16" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #2</div>
                            If a commercially insured patient uses their medical/primary insurance to pay for their medication, the specialty pharmacy will collect their co-pay and the patient would submit the claim to their insurance company.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="True"></div>
                                True
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="False. The provider or specialty pharmacy submits the claim to the patient's insurance company."></div>
                                False
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_17 slide s11f" id="slide_17" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #3</div>
                            If a commercially insured patient uses their medical/primary insurance to pay for their medication the patient or provider submits the Explanation of Benefits (EOB) to Janssen CarePath Savings Program in order to receive a rebate to the card, if eligible.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="True"></div>
                                True
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="False"></div>
                                False
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
        <div class="slide_18 slide s11f" id="slide_18" data-score="30">
            <div class="close dark"></div>
            <div class="display-table">
                <div class="display-cell">
                    <div class="slide-content-wrap show">
                        <div class="s11f-left">
                            <div class="head">Question #4</div>
                            If a commercially insured patient uses their pharmacy/prescription insurance to pay for their medication from a specialty pharmacy, they may be able to use the card to receive a rebate.
                        </div>
                        <div class="s11f-right">
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a" data-name="True"></div>
                                True
                            </div>
                            <div class="s11f-a-wrap mult-choice-al-left">
                                <div class="s11f-a answer" data-name="False. The commercially insured patient may be able to use the card for instant savings."></div>
                                False
                            </div>
                        </div>
                        <div class="btn"><div class="btn-child submit">SUBMIT</div></div>
                    </div>
                    <div class="feedback"></div>
                </div>
            </div>
        </div>
    </div>   
</div>
