// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  overflow-y: unset;
}

.admin-heading {
    text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.welcome-screen {
  background: #ffffff;
}

.page-heading {
    text-align: center;
    margin-top: 5em;
    font-size: 36px;
}

.user-info {
  padding: 2em;
  border: 4px solid #666666;
  display: block;
  width: 440px;
  margin: 1em auto;
}

.scores {
  padding-bottom: 2em;
}

.admin-details {
    display: inline-block;
}

.admin-label {
  display: inline-block;
  width: 6em;
  vertical-align: top;
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: #885555;
}

.username a {
  color: #1E5A0A;
  font-weight: bold;
}

.little-link {
    padding-left: 4px;
    font-size: 12px;
}

.add-score {
    padding-top: 2em;
}

.add-score a {
    color: #ffffff;
    display: block;
    text-align: center;
    background-color: #555555;
    width: 125px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1em;
    font-size: 12px;
}

.add-user {
  padding: 1em 2em;
  background-color: #444444;
  display: block;
  border-radius: 11px;
  margin: 2em auto 4em;
  position: relative;
  width: 180px;
  text-align: center;
}

.add-user a {
    color: #ffffff;
}

.flash {
  color: #cd0000;
  font-size: 13px;
  text-align: center;
  padding-bottom: 2em;
}

.all-users {
    width: 506px;
    margin: 0 auto;
    margin-bottom: 2em;
}