/*####################FONTS########################################*/
@font-face {
  font-family: "Helvetica-Medium-Condensed";
  src:url("/fonts/HelveticaNeueLTStd-MdCn.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Light-Condensed";
  src:url("/fonts/HelveticaNeueLTStd-LtCn.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Bold-Condensed";
  src:url("/fonts/HelveticaNeueLTStd-BdCn.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Condensed";
  src:url("/fonts/HelveticaNeueLTStd-Cn.otf");
  font-weight: normal;
  font-style: normal;
}
/*####################END########################################*/
/*####################LOADER########################################*/
.loader{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
    background:rgba(0,0,0,.8);
    display:none;
}
#floatingBarsG{
    position:relative;
    width:147px;
    height:183px;
    margin:auto;
    top:50%;
    left:50%;
    margin-top:-91px;
    margin-left:-73px;
}
.blockG{
    position:absolute;
    background-color:rgb(0,0,0);
    width:21px;
    height:51px;
    border-radius:17px 17px 0 0;
        -o-border-radius:17px 17px 0 0;
        -ms-border-radius:17px 17px 0 0;
        -webkit-border-radius:17px 17px 0 0;
        -moz-border-radius:17px 17px 0 0;
    transform:scale(0.4);
        -o-transform:scale(0.4);
        -ms-transform:scale(0.4);
        -webkit-transform:scale(0.4);
        -moz-transform:scale(0.4);
    animation-name:fadeG;
        -o-animation-name:fadeG;
        -ms-animation-name:fadeG;
        -webkit-animation-name:fadeG;
        -moz-animation-name:fadeG;
    animation-duration:0.312s;
        -o-animation-duration:0.312s;
        -ms-animation-duration:0.312s;
        -webkit-animation-duration:0.312s;
        -moz-animation-duration:0.312s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:60px;
    animation-delay:0.1195s;
        -o-animation-delay:0.1195s;
        -ms-animation-delay:0.1195s;
        -webkit-animation-delay:0.1195s;
        -moz-animation-delay:0.1195s;
    transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
}

#rotateG_02{
    left:17px;
    top:21px;
    animation-delay:0.156s;
        -o-animation-delay:0.156s;
        -ms-animation-delay:0.156s;
        -webkit-animation-delay:0.156s;
        -moz-animation-delay:0.156s;
    transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
}

#rotateG_03{
    left:55px;
    top:6px;
    animation-delay:0.1925s;
        -o-animation-delay:0.1925s;
        -ms-animation-delay:0.1925s;
        -webkit-animation-delay:0.1925s;
        -moz-animation-delay:0.1925s;
    transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
}

#rotateG_04{
    right:17px;
    top:21px;
    animation-delay:0.229s;
        -o-animation-delay:0.229s;
        -ms-animation-delay:0.229s;
        -webkit-animation-delay:0.229s;
        -moz-animation-delay:0.229s;
    transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:60px;
    animation-delay:0.2755s;
        -o-animation-delay:0.2755s;
        -ms-animation-delay:0.2755s;
        -webkit-animation-delay:0.2755s;
        -moz-animation-delay:0.2755s;
    transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
}

#rotateG_06{
    right:17px;
    bottom:15px;
    animation-delay:0.312s;
        -o-animation-delay:0.312s;
        -ms-animation-delay:0.312s;
        -webkit-animation-delay:0.312s;
        -moz-animation-delay:0.312s;
    transform:rotate(135deg);
        -o-transform:rotate(135deg);
        -ms-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        -moz-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:55px;
    animation-delay:0.3485s;
        -o-animation-delay:0.3485s;
        -ms-animation-delay:0.3485s;
        -webkit-animation-delay:0.3485s;
        -moz-animation-delay:0.3485s;
    transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
}

#rotateG_08{
    left:17px;
    bottom:15px;
    animation-delay:0.385s;
        -o-animation-delay:0.385s;
        -ms-animation-delay:0.385s;
        -webkit-animation-delay:0.385s;
        -moz-animation-delay:0.385s;
    transform:rotate(-135deg);
        -o-transform:rotate(-135deg);
        -ms-transform:rotate(-135deg);
        -webkit-transform:rotate(-135deg);
        -moz-transform:rotate(-135deg);
}

@keyframes fadeG{
    0%{
        background-color:rgb(36,107,189);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-o-keyframes fadeG{
    0%{
        background-color:rgb(36,107,189);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-ms-keyframes fadeG{
    0%{
        background-color:rgb(36,107,189);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-webkit-keyframes fadeG{
    0%{
        background-color:rgb(36,107,189);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-moz-keyframes fadeG{
    0%{
        background-color:rgb(36,107,189);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}
/*####################ENDS LOADER########################################*/
/*####################MENU########################################*/
[data-icon]{
    font-size:40px;
    height: 40px;
    background:#1A5163;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position:absolute;
    cursor:pointer;
    border:4px solid #fff;
    padding:5px;
}
[data-icon]:before {
    color:#fff;
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    display:block;
    line-height: 44px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-title{
    display:block;
    text-align: center;
    line-height: 40px;
    font-size: 2vw;
    color:#fff;
}
[data-icon="h"]{
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 7px;
    font-size: 48px;
    height: 48px;
    border: 0;
    background: transparent;
}
[data-icon="g"]{
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 7px;
    font-size: 48px;
    height: 48px;
    border: 0;
    background: transparent;
}
.nav{
    position: fixed;
    z-index: 99;
    height: 13vw;
    width: 13vw;
    right: 60px;
    bottom: 5%;
}
.nav2{
    position: fixed;
    z-index: 99;
    height: 13vw;
    width: 13vw;
    left: 60px;
    bottom: 5%;
}
.nav .btn{
    width:5.3vw;
    height: 5.3vw;
    position: absolute;
    cursor:pointer;
    top:50%;
    margin-top:-30px;
}
.nav .btn.leaderboard {
    left: -75vw;
    width: 13vw;
    height: auto;
    background: #034073;
    border: 0.2vw solid #ffffff;
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
    padding: 1vw 1vw .7vw;
}
.nav .btn.left{
    background-image:image-url('icons/button_left_whiteonblue.svg');
    left:0;
}
.nav .btn.right{
    right:0;
    background-image:image-url('icons/button_right_whiteonblue.svg');
}
.nav .btn.refresh{
    left:50%;
    top:50%;
    margin-left:-2.65vw;
    margin-top:-2.65vw;
    border-radius:50%;
    border:1px solid white;
    background:white;
    background-size: 100%;
    background-image:image-url('icons/refresh.svg');
    background-repeat:no-repeat;
}
[data-icon="a"]{
    top:50%;
    margin-top:-29px;
    right:0;
}
[data-icon="b"]{
    right:50%;
    margin-right:-29px;
    top:0;
}
[data-icon="c"]{
    right:50%;
    margin-right:-29px;
    bottom:0;
}
[data-icon="d"]{
    top:50%;
    margin-top:-29px;
    left:0;
}
[data-icon="e"],
[data-icon="f"]{
    top:50%;
    margin-top:-29px;
    right:50%;
    margin-right:-29px;
}
*{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body,
html {
    font-family: "Helvetica-Condensed";
    height: 100%;
    margin: 0;
    overflow: hidden;
    color:#fff;
    font-size: 30px;
    font-size: 3.5vh;
    cursor: auto !important;
}
.viewport {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #DCDCDC;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px
}
@media only screen 
and (min-device-height : 1364px) 
and (max-device-height : 1367px)
and (min-device-width : 1023px) 
and (max-device-width : 1025px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio:2),
screen and (min-width:768px) 
and (max-width:1024px)
and (orientation: landscape){
    .viewport {
        -webkit-perspective: 3700px;
        -moz-perspective: 3700px;
        -ms-perspective: 3700px;
        perspective: 3700px
    }
}
.world {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.plane,
.obj {
    position: absolute;
    -webkit-transform-origin: 0 0 0;
    -webkit-backface-visibility: hidden;
    -moz-transform-origin: 0 0 0;
    -moz-backface-visibility: hidden;
    -ms-transform-origin: 0 0 0;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}
.plane .plane-content{
    padding:20px;
}
.notice {
    font: 12px/1.5 Tahoma, Arial;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    z-index: 50001
}
#update {
    bottom: 20px;
    left: 50%;
    width: 360px;
    margin-left: -180px;
    text-align: center;
    font-size: 120%;
    border-radius: 7px
}
#about {
    top: 0;
    width: 100%
}
#about p:first-child {
    float: left
}
#about p:last-child {
    float: right
}
#update a {
    display: block
}
a {
    color: #fc0
}
kbd {
    display: inline-block;
    padding: 0 5px;
    background: #eee;
    color: #000;
    border-radius: 4px;
    border: 1px solid #bbb;
    border-bottom: 3px solid #999;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000
}
.asset_complete{
    cursor: pointer;
}
.highlight:not(.nohighlight):not(.asset_complete):not(.three-js-asset-cytokines):not(.three-js-asset-apc){
    cursor:pointer;
    background:transparent;
   /* -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;*/
    z-index: 1;
    overflow:hidden;
    /* animation: loader 1.5s infinite linear;
    -webkit-animation: loader 1.5s infinite linear;  */
}
/*.highlight:not(.nohighlight):not(.asset_complete).hover{
    box-shadow:0 0 20px 5px #00467f;    
    /*background:rgba(255,255,255,.2);
}*/
@-webkit-keyframes loader {
    0% {
        box-shadow:0;
    }
    50% {
        box-shadow:0 0 20px 5px #00467f;
    }
    100% {
        box-shadow:0;
    }
}
@keyframes loader {
    0% {
        box-shadow:0;
    }
    50% {
        box-shadow:0 0 20px 5px #00467f;
    }
    100% {
        box-shadow:0;
    }
}
.next.highlighted{
    animation: highlighter 1.5s infinite linear;
    -webkit-animation: highlighter 1.5s infinite linear; /* Safari and Chrome */
}
@-webkit-keyframes highlighter {
    0% {
        -webkit-filter: 0;
        filter: 0;
        border-left-color:#b5b4b9;
    }
    50% {
        -webkit-filter: drop-shadow( -2px 0px 10px #00f );
        filter: drop-shadow( -2px 0px 10px #00f );
        border-left-color:#6a6ad2;
    }
    100% {
        -webkit-filter: 0;
        filter: 0;
        border-left-color:#b5b4b9;
    }
}
@keyframes highlighter {
    0% {
        -webkit-filter: 0;
        filter: 0;
        border-left-color:#b5b4b9;
    }
    50% {
        -webkit-filter: drop-shadow( -2px 0px 10px #00f );
        filter: drop-shadow( -2px 0px 10px #00f );
        border-left-color:#6a6ad2;
    }
    100% {
        -webkit-filter: 0;
        filter: 0;
        border-left-color:#b5b4b9;
    }
}
.lightbox{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 9999;
    display:none;
}
.overlay{
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.7);
}
.lightbox-content{
    position: absolute;
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    /*
    background:#efefef;
    box-shadow:0 0 10px #000;
    border:1px solid #ccc;
    */
    padding:0;
    overflow: hidden;
}
.lightbox-content.height-auto{
    height:auto;
}
.lightbox-content.dark{
    background:rgba(0,0,0,.2);
}
.lightbox-content *{
    color:#484F56;
}
.lightbox-content.dark *{
    color:#fff;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fadein{
    display:none;
}
.num_1,
.num_3,
.num_9{
    position:absolute;
    font-size:50px;
    font-size: 370px;
    color: #f00;
}
.num_3{
    left:40%;
}
.num_9{
    left:75%;
}
video {
    max-height: 85vh;
    max-width: 82vw;
    display: block;
    margin: 0 auto;
}
.slides{
    position: relative;
    width: 100%;
    left: 0;
    top:0;
    height: 100%;
}
.slides-wrap .slides,
.room-2-objectives{
    display:none;
}
.lightbox .slides{
    display:block;
}
.slide{
    /* background:#efefef; */
    background-image:image-url('lb-bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left:150%;
    display: block;
    -webkit-border-radius: .5vw;
    -moz-border-radius: .5vw;
    border-radius: .5vw;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.slide_0.slide{
    background:transparent;
}
.quickcard-slide,
.quickcard-slide .front,
.quickcard-slide .back{
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
.slide-padding{
    display:block;
    padding:0;
}
.quickcard-slide .slide-padding {
    display: block;
    width:100%;
    height:100%;
}
.quickcard-slide .front-wrap,
.quickcard-slide .back-wrap{
    padding: 40px;
    display: table;
    height: 100%;
    width: 100%;
    margin-left: -40px;
}
.quickcard-slide .front-wrap > *{
    padding:0 40px;
}
.quickcard-slide .back-wrap > *{
    padding:20px 40px 0;
}
.slide.before{
    left:-120%;
}
.slide.after{
    left:120%;
}
.current{
    left:0;
}
.lightbox-content .next,
.lightbox-content .prev{
    cursor: pointer;
    position: absolute;
    top:50%;
    /*
    margin-top: -37px;
    height: 75px;
    width: 30px;
    */
    margin-top:-5vh;
    width: 0;
    height: 0;
    z-index: 1;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    /*background-size:100% 100%;
    background-repeat:no-repeat;*/
    display:none;
}
.close{
    display: none;
}
.close.available,
.open .close{
    display:block;
}
.slide .close,
.confirm-inner .close{
    width:4vw;
    height:4vw;
    position:absolute;
    z-index: 10;
    right:1vh;
    top:1vh;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    /* background-image:image-url('icons/icon_close_circle_white.svg'); */
    background-image:image-url('close.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.slide.flipped .close,
.slide_0 .close,
.dark.close{
    /* background-image:image-url('icons/icon_close_circle_blue.svg'); */
    background-image:image-url('close.png');
}
.display-table{
    display:table;
    width:100%;
    height:100%;
}
.display-cell{
    display:table-cell;
    vertical-align: middle;
}
.prev.available,
.next.available{
    color:#12A75C;
    display:block;
}
.lightbox-content .next{
    /*right: -35px;
    background-image:image-url('icons/button_right_triangle_white.svg');*/
    right:-2.75vw;
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    border-left: 2.5vw solid #b9b5b4;
}
.lightbox-content .prev{
    /*left:-35px;
    background-image:image-url('icons/button_left_triangle_white.svg');*/
    left:-2.75vw;
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    border-right: 2.5vw solid #b9b5b4;
}
.flip{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 9999;
}
.slide.flipped .flip{
    color:#3D6794;
}
.quickcard,
.front,
.back{
    width:100%;
    height:100%;
}
.slide-padding{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.quickcard {
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.quickcard .head{
    color: #fff;
    font-family: "Avenir-Black";
    line-height: normal;
    font-size: 48px;
    font-size: 4vw;
    margin-bottom: 20px;
}
.quickcard .middle ul{
    margin:20px 0 0 9px;
}
.quickcard .middle,
.quickcard .middle li,
.quickcard .middle em{
    font-family: "Avenir-Light";
    color: #fff;
    font-size: 28px;
    font-size: 4.5vh;
}
.quickcard .middle li{
    font-size: 28px;
    font-size: 4.2vh;
}
.quickcard strong{
    font-family: "Avenir-Black";
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f78b9+0,005292+100 */
    background: #0f78b9; /* Old browsers */
    background: -moz-linear-gradient(top, #0f78b9 0%, #005292 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0f78b9 0%,#005292 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0f78b9 0%,#005292 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f78b9', endColorstr='#005292',GradientType=0 ); /* IE6-9 */
    z-index: 2;
    /* for firefox 31 */
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.back {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefeff+0,e0e5eb+100 */
    background: #fefeff; /* Old browsers */
    background: -moz-linear-gradient(top, #fefeff 0%, #e0e5eb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefeff 0%,#e0e5eb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefeff 0%,#e0e5eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefeff', endColorstr='#e0e5eb',GradientType=0 ); /* IE6-9 */
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.back-font{
    font-family: "Avenir-Light";
    text-align:center;
    font-size: 35px;
    font-size: 2.4vw; 
    padding: 0;
    display:table-cell;
    vertical-align: middle;
}
.back-font .back-font-wrap{
    width:100%;
    height:85%;
}
.back-font img{
    width: auto;
    max-width: 45%;
    margin-top: 20px;
}
.quickcard.flipped{
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.slide .btn-child, .okay.btn .btn-child{
    font-family: "Helvetica-Medium-Condensed";
    background: #532F87;
    color:#fff;
    display:inline;
    padding:1vw 2vw .5vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
}
.slide .hide  .btn-child, .hide .okay.btn .btn-child{
    cursor: auto;
}
.continue-wrap{
    display:block;
    text-align:center;
}
.continue-wrap .continue-btn{
    margin: 2vh 0;
}
.nav-circle-absolute{
    position: absolute;
    width:100%;
    height: 14px;
    bottom: 5px;
    left: 0;
    overflow: hidden;
    z-index: 10;
}
.nav-circle-wrap{
    height: 100%;
    display: block;
    padding: 0 50px;
    text-align: center;
}
.nav-circle{
    background:#D3DFE9;
    border:4px solid #532f87;
    width:6px;
    height:6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}  
.nav-circle:first-child:nth-last-child(1) {
    display: none;
}
.nav-circle.active{
    background:#532f87;
}
.loaded_content{
    display:none;
}





/*
-webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
*/
.slide-content-wrap,
.s11f .feedback{
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.display-row{
    display:table-row;
}
.display-table{
    height:auto;
}
.video .display-table{
    height:100%;
}
.display-table .slide-padding{
    display:table-cell;
    vertical-align: middle;
}
.display-table.slide{
    height:100%;
}
.s6b .title{
    font-size:2vw;
    text-align: center;
}
.s6b .sub{
    margin-top:2vw;
}
.s6b .s6a-left .line{
    position: absolute;
    height:50vh;
    width:auto;
    left:100%;
    top:50%;
    margin-top:-25vh;
    margin-left:-1vw;
}
.s6b .s6a-right-wrap{
    display: inline-block;
    position: relative;
}
.s6b .s6a-left{
    width:17%;
    position: relative;
    vertical-align: top;
}
.s6b-answer-wrap{
    padding:4vh 0;
}
.s6b .s6a-right{
    width:83%;
    text-align: center;
    padding: 0 2vw;
}
.s6b .s6b-right-wrap{
    margin-top: -5vh;
}
.s6b-back{
    max-width:100%;
    max-height:70vh;
    display: block;
}
.s5b-answer-wrap{
    padding-top: 2vh;
}
.s6b-a{
    font-size:2vw;
    width:30vw !important;
    margin:0 auto;
    cursor: pointer;
}
.s6b-a img{
    max-height:10vh;
    max-width: 8vw;
    display: block;
    margin: 0 auto;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ui-draggable{
    z-index: 10;
}
.d-table .s6b-d{
    z-index: 1;
    background: #fff;
    border:1px dashed #878787;
    height:15vh;
    width:35vw;
    margin: 0 auto;
    position: relative;
}
.a-table{
    min-height: 15vh;
}
.d-table{
    margin-bottom:4vw;
}
.d-table .display-cell,
.a-table .display-cell{
    text-align: center;
}
.a-table .display-cell{
    width:50%;
}
.d-table .study-name{
    font-family: "Helvetica-Bold-Condensed";
    font-size:3vw;
    margin-bottom: .75vw;
}
.S6B-d{
    position: relative;
}
.d-table .s6b-d .s6b-a:not(.ui-draggable-dragging){
    width:100% !important;
    height:100% !important;
    top:10%!important;
    left:0!important;
}
.a-table .s6b-d .s6b-a:not(.ui-draggable-dragging){
    top:0 !important;
    left:0 !important;
    position:static!important;
}
.s6b .a-bank{
    display: block;
    font-family: "Helvetica-Bold-Condensed";
    font-size:4vw;
    text-align: center;
    margin:2vw 0;
}
.back-font{
    display: table-cell;
    vertical-align: middle;
}
.back-font .back-font-wrap{
    height:auto;
}
.quickcard .middle, .quickcard .middle li, .quickcard .middle em {
    font-size: 6.5vh;
}
.quickcard .middle li {
    font-size: 5.2vh;
}
.s11f > .display-table{
    height:100%;
}
.s11f .head,
.s6b .head{
    color: #532E86;
    font-family: "Helvetica-Bold-Condensed";
    line-height: normal;
    font-size: 5vw;
    margin-bottom: 3vw;
}
.s6b .head .sub{
    font-family: "Helvetica-Condensed";
    font-size: 3vw;
    text-align: left;
}
.s11f-left{
    font-family: "Helvetica-Condensed";
    font-size: 3.5vw;
    text-align: left;
    position: relative;
}
.s11f-right{
    text-align: center;
    font-family: "Helvetica-Condensed";
    margin-top:6vw;
}
.s11f-a-wrap{
    display: block;
    margin: 2vh 0;
}
.s11f-a{
    display: inline-block;
    vertical-align: middle;
    width:4vw;
    height:4vw;
    max-height: 6vh;
    max-width: 6vh;
    border:1px solid #484F56;
    background:#fff;
    /* margin-right: 2vw; */
    margin-left:-6vw;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.s11f-a.correct,
.s11f-a.incorrect{
    cursor: auto;
}
.s11f-a:hover:before,
.s11f-a.sel:before{
    content:'';
    position: absolute;
    width:80%;
    height:80%;
    left:10%;
    top:10%;
    background:#7CCCCD;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.s11f-a-wrap img{
    max-width:15vw;
    max-height: 20vh;
    display: inline-block;
    vertical-align: middle;
}
.s11f > .display-table > .display-cell,
.s6b.display-table > .display-cell{
    padding:5vw;
}
.s11f .btn,
.s6b .btn{
    text-align: center;
}
.s6b .btn{
    // margin-top:5vw;
}
.s11f .btn .btn-child{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.slide-content-wrap.hide,
.feedback.hide{
    opacity:0;
}
.slide-content-wrap.show,
.feedback.show{
    opacity:1;
    z-index:2;
}
.slide-content-wrap{
    opacity:1;
    z-index: 1;
    position: relative;
}
.feedback{
    opacity:0;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.feedback .display-table,
.feedback .display-table .display-cell{
    width:100%;
    height:100%;
    text-align: center;
}
.correct-msg,
.incorrect-msg{
    color:#522E86;
    font-family: "Helvetica-Bold-Condensed";
    font-size:10vw;
    margin:4vw 0;
}
.expl{
    font-family: "Helvetica-Medium-Condensed";
    font-size:4vw;
    color:#484F56;
    margin: 0 0 8vw;
}
/* Access Code*/
.a-code .display-cell{
    text-align: center;
}
.a-code img{
    max-width:436px;
    max-height: 231px;
    width:80%;
    height:auto;
    margin:2vh auto;
    display:block;
}
.access-code{
    padding: 1vw;
    font-size: 2.5vw;
    margin:2vh auto;
    width:75%;
    max-width:436px;
    text-align: center;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    -o-user-select: initial;
    user-select: initial;
}
.a-code .okay.btn{
    margin:2vh auto;
}
.a-code .okay.btn .btn-child{
    font-size: 3vw;
    padding: 1vw 3vw .5vw;
    font-family: "Helvetica-Medium-Condensed";
    background: #532F87;
    color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ac-feedback{
     font-family: "Helvetica-Light-Condensed";
     color:#C60000;
     font-size:3vw;
}


.mult-choice-al-left {
    text-align: left;
    padding-left:6vw;
}

.narrower-display-cell {
    width: 41%;
}

.narrowest-display-cell {
    width: 36%;
}

.val-top {
    vertical-align: top !important;   
}

.choice-container {
    display: inline-block;
    width: 71%;
}

.slide_19 img{
    min-width: 50vw;
    max-height: none;
}

/* FINISHED */
body.finished *{
    display: none;
}
body.finished{
    background:image-url('finish.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
}