// Place all the styles related to the leaderboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Helvetica-Neue-Condenced";
  src:url("/fonts/HelveticaNeueLTStd-Cn.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Neue-Heavy-Condenced";
  src:url("/fonts/HelveticaNeueLTStd-HvCn.otf");
  font-weight: normal;
  font-style: normal;
}

html,body{
  height:100%;
}

@-webkit-keyframes spinit {
  0% {
    top: 0;
  }
  49%{
    top: -6vw;
  }
  50% {
    opacity:0;
  }
  51%{
    top: 6vw;
    opacity:1;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes spinit {
  0% {
    top: 0;
  }
  49%{
    top: -6vw;
  }
  50% {
    opacity:0;
  }
  51%{
    top: 6vw;
    opacity:1;
  }
  100% {
    top: 0;
  }
}
@keyframes spinit {
  0% {
    top: 0;
  }
  49%{
    top: -6vw;
  }
  50% {
    opacity:0;
  }
  51%{
    top: 6vw;
    opacity:1;
  }
  100% {
    top: 0;
  }
}

@mixin transition($s) {
  -webkit-transition: all $s linear;
  -moz-transition: all $s linear;
  -ms-transition: all $s linear;
  -o-transition: all $s linear;
  transition: all $s linear;
}

html { 
  background: image-url('leaderboard-bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

*{
  -webkit-print-color-adjust:exact;
}

.lb {
  background: transparent;
  height:100%;
  overflow: auto;
  padding-bottom:4vh;
  position: relative;

  .lb-head{
    width: 55vw;
    max-width: 386px;
  }

  .user-data-rows {
    font-size: 40px;
    text-align: center;
    border: 10px
  }

  .lb-table {
    width: 85%;
    max-width: 100%;
    margin: 0 auto;
    border:0;
    background: transparent;

    th{
      font-family: "Helvetica-Neue-Heavy-Condenced";
      color:#532E86;
      font-size: 3vh;
    }

    td{
      font-family: "Helvetica-Neue-Condenced";
      color:#484F56;
      font-size: 3vh;
      overflow: hidden;
      @include transition(.5s);
    }

    tr,tbody,thead,td,th,td div{
      background: transparent !important;
    }

    tr.remove td{
      line-height: 0;
      max-height:0;
      height:0;
      padding-top:0;
      padding-bottom:0;
    }

    td > div.spin{
      position: relative;
      -webkit-animation: spinit 1s 1;
      -moz-animation: spinit 1s 1;
      animation: spinit 1s 1;
    }

    th,td{
      border:0;
    }

    td:first-child,
    th:first-child{
      text-align: center;
    }

    th:last-child,
    td:last-child{
      text-align: right;
    }

    td:nth-child(2),
    th:nth-child(2){
      padding-left:4vw;
    }
  }

  .refresh-delete-empty {
    height: 40px;
  }

  .return-to-game {
    width: 13vw;
    height: 6vh;
    line-height:5vh;
    background: #034073;
    border: 0.2vw solid #ffffff;
    color: #ffffff;
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    left:7.4vw;
    top:50%;
    margin-top:-3vh;
  }

  .return-to-game:focus, .return-to-game:hover {
    color: #fff;
    text-decoration: none;
  }

  .leaderboard-name{
    position:relative;
    text-align: center;
    padding: 4vh 0;
  }

  .print-only-bg{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}