// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "Helvetica-Light-Condensed";
  src:url("/fonts/HelveticaNeueLTStd-LtCn.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Medium-Condensed";
  src:url("/fonts/HelveticaNeueLTStd-MdCn.otf");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  width:100%;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("blurry_building-dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
  background-position-x: center;
}

.container{
  position: absolute;
  width: 96%;
  height: 96%;
  top: 2%;
  left: 2%;
  background-image:image-url('lb-bg.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.container .close{
  width:4vw;
  height:4vw;
  position:absolute;
  z-index: 10;
  right:1vh;
  top:1vh;
  background-image:image-url('close.png');
  background-size:100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container-table {
  display: table;
  width:100%;
  height:100%;
}

.container-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  padding:5vw;
}

.page-heading img{
  max-width:75vw;
}

.signin {
  margin: 2vw auto;
  padding: 0 2em;
  text-align: center;
}

label {
  font-family: "Helvetica-Light-Condensed";
  color: #484F56;
  font-size: 4.5vw;
  margin:2vw 0;
}

input#user_username {
  width:70vw;
  border-radius: 5px;
  margin:2vw 0;
  padding:1vw;
}

.s-btn {
  font-family: "Helvetica-Medium-Condensed";
  background: #532F87;
  color:#fff;
  display:inline;
  padding:1vw 2vw .5vw;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  border:0;
  margin:2vw 0;
  -webkit-appearance: none;
}

.alert.alert-danger {
  color: #ff0000;
}

#error_explanation ul {
  color: #ff0000;
  width: 16em;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
}

.flash{
  color: #ff0000;
}