<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all" href="/assets/leaderboards.scss" />
      
      <%= javascript_include_tag "jquery.min.js"%>
      <%= javascript_include_tag "jquery-ui.min.js"%>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <%= javascript_include_tag "leaderboard.js"%>

    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>
  <body class="lb">
    <%= image_tag 'leaderboard-bg.png', class: 'print-only-bg' %>
    <%= yield %>
  </body>
</html>
