<!DOCTYPE html>
<html>
  <head>
    <title>Paperless Playground</title>
    
      <link rel="stylesheet" type="text/css" href="/assets/users.scss" />

      <%= csrf_meta_tags %>

      <%= javascript_include_tag 'jquery.min.js' %>
      <%= javascript_include_tag 'login.js' %>


    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
