<!DOCTYPE html>
<html>
	<head>
		<title>Stelara Strong</title>

		<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    	<%= javascript_include_tag "jquery.min.js"%>
    	<%= javascript_include_tag "jquery-ui.min.js"%>
    	<%= javascript_include_tag "jquery.ui.touch-punch.min.js"%>
    	<%#= javascript_include_tag "jquery.mCustomScrollbar.concat.min.js"%>

    	<%= stylesheet_link_tag "jquery-ui.min.css"%>
    	<%#= stylesheet_link_tag "jquery.mCustomScrollbar.css"%>
    	<%= stylesheet_link_tag "css.css"%>

    	<%= javascript_include_tag "global_functions.js"%>
    	<%= javascript_include_tag "globals.js"%>
    	<%= javascript_include_tag "lightbox.js"%>
    	<%= javascript_include_tag "menu.js"%>
    	<%= javascript_include_tag "init.js"%>
    	<%#= javascript_include_tag "glossary.js"%>

        <%#= javascript_include_tag "lodash.min.js"%>
        <%#= javascript_include_tag "jquery.tinysort.js"%>
        <%#= javascript_include_tag "jquery.timer.js"%>

		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	</head>
	<body class="welcome-screen">
		<%= yield %>
	</body>
</html>
